<section>
    <link rel="stylesheet" href="../static/css/slides/22.css">
    <h3 align="left">Hanoi</h3>
    <span class="divLeft" id="container_hanoi"></span>
    <span class="divRight">
        <button id="runButton" class="runButton" onclick="run('hanoi')">run code</button>
        <pre>
            <code id="hanoi_code" class="hljs javascript" id="code_box_hanoi" data-trim contenteditable></code>
        </pre>
    </span>
    <script src="../static/js/torre hanoi/main_hanoi.js"></script>
	<script src="../static/js/torre hanoi/hanoi.js"></script>
</section>