<section class="center">
    <h3 align="left">Mdc</h3>
        <p align="justify">1)Cálculo do mdc entre dois números, usando o algoritmo de Euclides.</p>
        <p align="justify">A ideia principal no Algoritmo de Euclides é que o MDC pode ser calculado,
        usando o resto da divisão como entrada para o próximo passo, o que é baseado na seguinte propriedade do MDC:</p>
        <p align="justify">MDC(a,b)=MDC(b,r)</p>
        <p align="justify">Sendo r o resto da divisão de a por b.</p>

</section>